# ==========================================
# Configurações do Servidor Web (Game Portal)
# ==========================================
HOST=0.0.0.0
PORT=8085
BASE_DIR=/var/www/html/urban
DB_FILE=/var/www/html/urban/urban.db
AVATARS_DIR=/var/www/html/urban/avatars

# ==========================================
# Configurações do Urban Terror
# ==========================================
# Caminho absoluto para o arquivo de log gerado pelo servidor do Urban Terror
URBAN_LOG_PATH=/home/lucas/urbanterror43/q3ut4/games.log

# ==========================================
# Configurações do Counter-Strike: Source
# ==========================================
# Caminho absoluto para o script shell que inicia o servidor de CS
CS_SERVER_SCRIPT=/var/docker/css-server/start_css_server.sh
